# Complex (multi term) Search
---

Before we do any work, we need to import several functions from cdapython:


- `Q` and `query` which power the search
- `columns` which lets us view entity field names
- `unique_terms` which lets view entity field contents
    
We're also asking cdapython to report it's version so we can be sure we're using the one we mean to.

In [2]:
from cdapython import Q, columns, unique_terms, query
print(Q.get_version())
Q.set_host_url("http://35.192.60.10:8080/")

2022.6.9


The CDA provides a custom python tool for searching CDA data. [`Q`](usage/#q) (short for Query) offers several ways to search and filter data, and several input modes:

---
- **[Q.()](../../../Documentation/usage/#q)** builds a query that can be used by `run()` or `count()`
- **[Q.run()](../../../Documentation/usage/#qrun)** returns data for the specified search 
- **[Q.count()](../../../Documentation/usage/#qcounts)** returns summary information (counts) data that fit the specified search

---

Operators allow us to make more complex queries by adding, subtracting, or filtering data.

`Q` uses the following operators:

- [`=` : Equals](#Equals:-=)
- [`!=` : Not Equal](#Not-Equal:-!=)
- [`OR`](#OR) 
- [`%`: a wildcard](#%-pattern-matching)
- [`AND`](#AND)
- [`IS` and `IS NOT`](#IS-and-IS-NOT)
- `>` : Greater than
- `<` : Less than
- `>=` : Greater than or Equal to
- `<=` : Less than or Equal to
- `NOT()`
- `IN()`
- `NOT IN()`

We use these operators to build more and more complex Q statements before sending our query to `run()` or `count()`.

## Equals: `=`

In the other tutorials, we have always used the same query, which uses the `=` operator. 

```Q('ResearchSubject.primary_diagnosis_site = "brain"')```

This operator will only return data where the primary_diagnosis_site is exactly "brain". Here let's to a similar search, but for "uterus". We'll look at the researchsubject summary:

In [2]:
Q('ResearchSubject.primary_diagnosis_site = "uterus"').researchsubject.count.run()

Getting results from database

Total execution time: 3280 ms

    total : 867

   files : 242362

system,count
IDC,867
primary_diagnosis_condition,count
None,867
primary_diagnosis_site,count
Uterus,867

## Not Equal: `!=`

The `!=` operator does the opposite of the `=` operator, it returns everything that is not exactly the term you give it:

In [3]:
Q('ResearchSubject.primary_diagnosis_site != "uterus"').researchsubject.count.run()

Getting results from database

Total execution time: 3411 ms

   total : 148831

  files : 39151844

system,count
GDC,85416
IDC,61081
PDC,2334
primary_diagnosis_condition,count
Thymic Epithelial Neoplasms,262
Adenomas and Adenocarcinomas,32730
Myeloid Leukemias,3965
Ductal and Lobular Neoplasms,7870
None,61083
Ovarian Serous Cystadenocarcinoma,283
Transitional Cell Papillomas and Carcinomas,1885
Nevi and Melanomas,3155
Other,206
Squamous Cell Neoplasms,5076
"Cystic, Mucinous and Serous Neoplasms",3723
Lymphoid Leukemias,2072
Gliomas,4772
Myomatous Neoplasms,632
Pancreatic Ductal Adenocarcinoma,144
Germ Cell Neoplasms,703
Osseous and Chondromatous Neoplasms,615
Clear Cell Renal Cell Carcinoma,116
Mesothelial Neoplasms,647
Complex Mixed and Stromal Neoplasms,1826
Glioblastoma,100
"Soft Tissue Tumors and Sarcomas, NOS",315
Colon Adenocarcinoma,164
Uterine Corpus Endometrial Carcinoma,104
"Epithelial Neoplasms, NOS",5694
Lung Squamous Cell Carcinoma,118
"Leukemias, NOS",118
Plasma Cell Tumors,1066
Miscellaneous Bone Tumors,130
Lung Adenocarcinoma,216
Breast Invasive Carcinoma,251
Paragangliomas and Glomus Tumors,241
Lipomatous Neoplasms,343
Mature B-Cell Lymphomas,1019
Acinar Cell Neoplasms,300
Neuroepitheliomatous Neoplasms,1332
Not Applicable,440
Chronic Myeloproliferative Disorders,476
Mature T- and NK-Cell Lymphomas,94
Specialized Gonadal Neoplasms,124
Hepatocellular Carcinoma,170
Complex Epithelial Neoplasms,254
Synovial-like Neoplasms,98
Not Reported,271
Myxomatous Neoplasms,18
Pediatric/AYA Brain Tumors,199
Fibromatous Neoplasms,322
Head and Neck Squamous Cell Carcinoma,110
Early Onset Gastric Cancer,80
Myelodysplastic Syndromes,386
Oral Squamous Cell Carcinoma,38
"Neoplasms, NOS",1251
Unknown,63
Meningiomas,289
Precursor Cell Lymphoblastic Lymphoma,12
Nerve Sheath Tumors,115
Rectum Adenocarcinoma,30
Adnexal and Skin Appendage Neoplasms,58
Blood Vessel Tumors,156
Other Leukemias,68
Basal Cell Neoplasms,45
Miscellaneous Tumors,89
Mucoepidermoid Neoplasms,60
Fibroepithelial Neoplasms,25
Hodgkin Lymphoma,11
Granular Cell Tumors and Alveolar Soft Part Sarcomas,23
Neoplasms of Histiocytes and Accessory Lymphoid Cells,66
Immunoproliferative Diseases,4
Mast Cell Tumors,10
"Malignant Lymphomas, NOS or Diffuse",42
Other Hematologic Disorders,20
Trophoblastic neoplasms,21
Mesonephromas,5
Papillary Renal Cell Carcinoma,2
Giant Cell Tumors,3
Odontogenic Tumors,3
Acute Myeloid Leukemia,2
Chromophobe Renal Cell Carcinoma,1
Lymphatic Vessel Tumors,1
primary_diagnosis_site,count
Rectum,1308
Brain,2923
Corpus uteri,780
Stomach,1870
Ovary,4346
Liver and intrahepatic bile ducts,1609
"Bones, joints and articular cartilage of limbs",268
Breast,21945
Bladder,2155
Head-Neck,2704
Bronchus and lung,12256
Colon,8559
Hematopoietic and reticuloendothelial systems,9007
Gallbladder,265
"Uterus, NOS",1998
Other and ill-defined sites,1186
Adrenal gland,851
Kidney,4788
Pancreas,3352
Larynx,169
Unknown,3232
Base of tongue,24
Thyroid gland,1880
Other and unspecified parts of biliary tract,224
Chest,28221
"Heart, mediastinum, and pleura",706
Lung,4848
Other and unspecified urinary organs,217
Prostate gland,2354
Rectosigmoid junction,81
Testis,542
Other and ill-defined digestive organs,719
Not Reported,506
Oropharynx,194
Thymus,431
Skin,3497
Cervix uteri,915
Other endocrine glands and related structures,181
Retroperitoneum and peritoneum,384
Palate,5
Abdomen,92
"Spinal cord, cranial nerves, and other parts of central nervous system",3703
Other and unspecified parts of tongue,133
"Bones, joints and articular cartilage of other and unspecified sites",455
Lymph nodes,538
Anus and anal canal,233
Esophagus,1580
Eye and adnexa,222
"Other and ill-defined sites in lip, oral cavity and pharynx",361
Other and unspecified major salivary glands,615
"Connective, subcutaneous and other soft tissues",1573
Peripheral nerves and autonomic nervous system,418
Liver,622
Other and unspecified female genital organs,160
Head and Neck,148
"Abdomen, Mediastinum",176
Various (11 locations),89
Head,105
Prostate,2139
Lung Phantom,8
Various,449
"Pelvis, Prostate, Anus",58
Phantom,33
Extremities,51
Testicles,150
Thyroid,507
"Chest-Abdomen-Pelvis, Leg, TSpine",261
Mesothelium,87
Intraocular,80
Cervix,307
Bile Duct,51
Ear,242
Other and unspecified parts of mouth,43
Tonsil,46
"Marrow, Blood",89
Adrenal Glands,271
Floor of mouth,56
None,340
Meninges,243
Nasopharynx,101
Small intestine,269
Vagina,72
Lip,9
Ureter,15
Vulva,10
Hypopharynx,25
Penis,33
Gum,11
Nasal cavity and middle ear,40
Trachea,7
Other and ill-defined sites within respiratory system and intrathoracic organs,2
Renal pelvis,1
Pancreas,1
Other and unspecified male genital organs,1

Note that in our `!=` results, there are 1998 "Uterus, NOS" samples. These don't appear in our `=` search because "Uterus, NOS" is not *exactly* "Uterus".

There are several ways to change our search to get both "Uterus" and "Uterus, NOS", and which we choose will depend on both our interests, and on how different the terms are that we care about.


## OR

If we have a small enough number of search criteria to reliably type them out, we can use the OR operator to combine results. In an `OR` query, each data point only needs to meet a single piece of criteria to be returned, this makes `OR` good for early, broad searches. It *increases* the amount of data returned.

`OR` can be used both inside a Q statement:

In [4]:
Q('ResearchSubject.primary_diagnosis_site = "uterus" OR ResearchSubject.primary_diagnosis_site = "uterus, NOS"').researchsubject.count.run()

Getting results from database

Total execution time: 3507 ms

    total : 2865

   files : 257140

system,count
PDC,104
GDC,1894
IDC,867
primary_diagnosis_condition,count
Uterine Corpus Endometrial Carcinoma,104
Complex Mixed and Stromal Neoplasms,294
Myomatous Neoplasms,183
Adenomas and Adenocarcinomas,1037
None,867
Trophoblastic neoplasms,13
"Cystic, Mucinous and Serous Neoplasms",313
Not Reported,12
"Soft Tissue Tumors and Sarcomas, NOS",14
"Epithelial Neoplasms, NOS",20
Complex Epithelial Neoplasms,2
Mesonephromas,2
"Neoplasms, NOS",3
Neuroepitheliomatous Neoplasms,1
primary_diagnosis_site,count
"Uterus, NOS",1998
Uterus,867

and to combine 2 or more Q statements:

In [14]:
Query1 = Q('ResearchSubject.primary_diagnosis_site = "uterus, NOS"') 
Query2 = Q('ResearchSubject.primary_diagnosis_condition = "Uterine Corpus Endometrial Carcinoma"')

Query1.OR(Query2).researchsubject.count.run()

Getting results from database

Total execution time: 7042 ms

    total : 1998

   files : 14778

system,count
GDC,1894
PDC,104
primary_diagnosis_condition,count
Uterine Corpus Endometrial Carcinoma,104
Adenomas and Adenocarcinomas,1037
"Cystic, Mucinous and Serous Neoplasms",313
Complex Mixed and Stromal Neoplasms,294
Myomatous Neoplasms,183
Trophoblastic neoplasms,13
"Epithelial Neoplasms, NOS",20
"Neoplasms, NOS",3
"Soft Tissue Tumors and Sarcomas, NOS",14
Not Reported,12
Mesonephromas,2
Complex Epithelial Neoplasms,2
Neuroepitheliomatous Neoplasms,1
primary_diagnosis_site,count
"Uterus, NOS",1998

For each `OR` you must specify both the search term ("uterus") and where to find the term ("ResearchSubject.primary_diagnosis_site"). This means that the `OR` operator is flexible enough to run searches across columns, or even across endpoints.

## `%` pattern matching

While `OR` is useful for situations with only a few options, in some cases there are many terms that all have similar names, and it would be error prone to type out every variant. For instance, if we filter the unique terms in "ResearchSubject.primary_diagnosis_site" to everything with "uter" we get:

In [ ]:
unique_terms("ResearchSubject.primary_diagnosis_site").to_list(filters="uter")

The `%` operator acts as a wildcard, and lets you run a query similar to the filter function in unique_terms:

In [ ]:
Q('ResearchSubject.primary_diagnosis_site = "uter%"').researchsubject.count.run()

Because the `%` is at the end of "uter" this query returns anything that starts with "uter", depending on your question, you may want to move the `%`, or add more of them:

In [8]:
Q('ResearchSubject.primary_diagnosis_site = "%uter"').researchsubject.count.run()

Getting results from database

Total execution time: 7041 ms

     total : 0

     files : 0

In [17]:
Q('ResearchSubject.primary_diagnosis_site = "%uter%"').researchsubject.count.run()

Getting results from database

Total execution time: 3469 ms

    total : 4560

   files : 302149

system,count
GDC,3589
PDC,104
IDC,867
primary_diagnosis_condition,count
Adenomas and Adenocarcinomas,1671
Squamous Cell Neoplasms,609
"Cystic, Mucinous and Serous Neoplasms",487
Complex Mixed and Stromal Neoplasms,320
Uterine Corpus Endometrial Carcinoma,104
Myomatous Neoplasms,187
None,868
Not Reported,12
"Epithelial Neoplasms, NOS",230
Mesonephromas,5
Complex Epithelial Neoplasms,27
"Soft Tissue Tumors and Sarcomas, NOS",14
"Neoplasms, NOS",12
Trophoblastic neoplasms,13
Neuroepitheliomatous Neoplasms,1
primary_diagnosis_site,count
Cervix uteri,915
"Uterus, NOS",1998
Corpus uteri,780
Uterus,867

There may be cases in which you want to filter out all of the data with some partial word in it, in which case, you can combine `%` with `!=`:

In [24]:
Q('sex != "f%"').subject.count.run()

Getting results from database

Total execution time: 14919 ms

   total : 91361

  files : 37815169

system,count
IDC,56038
PDC,1089
GDC,40024
sex,count
male,39793
None,51216
not reported,266
unknown,81
unspecified,5
race,count
None,51216
white,23406
chinese,65
asian,1348
not reported,9881
black or african american,1815
Unknown,2027
other,415
native hawaiian or other pacific islander,26
not allowed to collect,1106
american indian or alaska native,56
ethnicity,count
not hispanic or latino,23020
not reported,11796
None,51216
Unknown,2293
not allowed to collect,1586
hispanic or latino,1450
cause_of_death,count
None,90714
HCC recurrence,5
Not Reported,335
Cancer Related,198
"Cardiovascular Disorder, NOS",3
Not Cancer Related,76
Unknown,22
Surgical Complications,3
Infection,3
Cerebral Hemorrhage,1
Metastasis,1

## AND 

Like `OR`, `AND` can be used both inside a Q statement, and to join multiple Q statements. `AND` requires that both statements be true simultanously for each returned bit of data. This makes `AND` good for filtering down results. It *decreases* the amount of data returned.

If we reuse the `OR` examples above, the first one will have no results, because primary_diagnosis_site can have only one value, so it can never be both "uterus" and "uterus, NOS":

In [25]:
Q('ResearchSubject.primary_diagnosis_site = "uterus" AND ResearchSubject.primary_diagnosis_site = "uterus, NOS"').researchsubject.count.run()

Getting results from database

Total execution time: 3366 ms

     total : 0

     files : 0

However, for searches where you are interested in subsetting multiple columns, `AND` can help you to quickly filter to only the set you want:

In [26]:
Query1 = Q('ResearchSubject.primary_diagnosis_site = "uterus, NOS"') 
Query2 = Q('ResearchSubject.primary_diagnosis_condition = "Uterine Corpus Endometrial Carcinoma"')

Query1.AND(Query2).researchsubject.count.run()

Getting results from database

Total execution time: 3278 ms

    total : 104

    files : 2560

system,count
PDC,104
primary_diagnosis_condition,count
Uterine Corpus Endometrial Carcinoma,104
primary_diagnosis_site,count
"Uterus, NOS",104

## IS and IS NOT

In computing, lack of data is often treated as a special case. In the CDA, values listed as "None" are actually `null`, that is, the field is empty. In order to search for emptiness, you need to use the special function `IS`:

In [51]:
Q('ResearchSubject.primary_diagnosis_condition IS null').researchsubject.count.run()

Getting results from database

Total execution time: 4881 ms

            QueryID: 9af65047-23cd-444d-ae74-cf626c3a6d24
            Query:SELECT results.* EXCEPT(rn) FROM (SELECT ROW_NUMBER() OVER (PARTITION BY all_Subjects_v3_0_w_RS.id) as rn, all_Subjects_v3_0_w_RS.id AS id, all_Subjects_v3_0_w_RS.identifier AS identifier, all_Subjects_v3_0_w_RS.species AS species, all_Subjects_v3_0_w_RS.sex AS sex, all_Subjects_v3_0_w_RS.race AS race, all_Subjects_v3_0_w_RS.ethnicity AS ethnicity, all_Subjects_v3_0_w_RS.days_to_birth AS days_to_birth, all_Subjects_v3_0_w_RS.subject_associated_project AS subject_associated_project, all_Subjects_v3_0_w_RS.vital_status AS vital_status, all_Subjects_v3_0_w_RS.age_at_death AS age_at_death, all_Subjects_v3_0_w_RS.cause_of_death AS cause_of_death FROM gdc-bq-sample.dev.all_Subjects_v3_0_w_RS AS all_Subjects_v3_0_w_RS WHERE (all_Subjects_v3_0_w_RS.sex IS NOT null)) as results WHERE rn = 1
            Offset: 0
            Count: 100
            Total Row Count: 85654
            More pages: True

Probably more common, is to want to filter *out* the empty fields, in which case you use its companion function `IS_NOT`:

In [40]:
Q('sex IS NOT null').subject.count.run()

Getting results from database

Total execution time: 9762 ms

   total : 85654

  files : 3487816

system,count
IDC,11004
GDC,84979
PDC,2231
sex,count
female,45509
not reported,266
male,39793
unknown,81
unspecified,5
race,count
black or african american,4567
white,49069
not reported,21816
chinese,90
asian,2951
Unknown,3985
not allowed to collect,2058
other,947
american indian or alaska native,116
native hawaiian or other pacific islander,55
ethnicity,count
not hispanic or latino,48382
not reported,26034
hispanic or latino,3131
Unknown,4455
not allowed to collect,3652
cause_of_death,count
Not Reported,797
None,84257
HCC recurrence,7
Cancer Related,336
Infection,7
Not Cancer Related,107
Unknown,131
"Cardiovascular Disorder, NOS",4
Surgical Complications,4
Metastasis,2
Cancer cell proliferation,1
Cerebral Hemorrhage,1

### Query 1

**Find data for subjects who were diagnosed after the age of 50 and who were investigated as part of the TCGA-OV project.**

In [46]:
Q('NOT (sex = "male" OR sex = "female" OR identifier.system = "IDC")').subject.count.run()

Getting results from database

Total execution time: 9900 ms

    total : 701

   files : 103570

system,count
GDC,513
PDC,201
sex,count
not reported,266
unspecified,5
None,349
unknown,81
race,count
not reported,267
white,7
None,349
Unknown,71
not allowed to collect,3
black or african american,4
ethnicity,count
not reported,290
Unknown,58
None,349
not allowed to collect,3
not hispanic or latino,1
cause_of_death,count
Not Reported,111
None,590

In [48]:
Q('sex != "male" AND sex != "female" AND identifier.system != "IDC"').subject.count.run()

Getting results from database

Total execution time: 7093 ms

    total : 701

   files : 103570

system,count
GDC,513
PDC,201
sex,count
unknown,81
not reported,266
None,349
unspecified,5
race,count
not reported,267
white,7
None,349
Unknown,71
black or african american,4
not allowed to collect,3
ethnicity,count
not reported,290
Unknown,58
None,349
not allowed to collect,3
not hispanic or latino,1
cause_of_death,count
None,590
Not Reported,111

In [ ]:
q1 = Q('sex = "male"')
q2 = Q('identifier.system = "GDC"')
q3 = Q('identifier.system = "PDC"')

r2 = q1.And(q2)
r3 = q1.And(q3)

#taco = r2.run()
#taco

burrito = r3.run()

In [ ]:
burrito

In [ ]:
q1 = Q('sex = "male"')

taco = q1.run()
taco

In [ ]:
from pandas import DataFrame,concat
q = query('ResearchSubject.primary_diagnosis_condition LIKE "Lung%" AND sex = "male"').run()
print(q)
df = DataFrame()
for i in q.paginator(to_df=True):
    print(len(i))
    df = concat([df,i])

In [ ]:
df

In [ ]:
r.to_dataframe()

### Query 2

**Find data for donors with melanoma (Nevi and Melanomas) diagnosis and who were diagnosed before the age of 30.**

In [6]:
q1 = Q('ResearchSubject.Specimen.primary_disease_type = "Nevi and Melanomas"')
q2 = Q('ResearchSubject.Diagnosis.age_at_diagnosis < 30*365')

q = q1.AND(q2)
r = q.run()

r.to_dataframe()

Getting results from database

Total execution time: 3436 ms

,id,identifier,species,sex,race,ethnicity,days_to_birth,subject_associated_project,vital_status,age_at_death,cause_of_death
0,AD5383,"[{'system': 'GDC', 'value': 'AD5383'}]",Homo sapiens,male,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
1,TCGA-WE-A8ZT,"[{'system': 'GDC', 'value': 'TCGA-WE-A8ZT'}, {...",Homo sapiens,female,white,not hispanic or latino,-9379.0,"[tcga_skcm, TCGA-SKCM]",Alive,NaN,None
2,AD12801,"[{'system': 'GDC', 'value': 'AD12801'}]",Homo sapiens,female,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
3,AD13345,"[{'system': 'GDC', 'value': 'AD13345'}]",Homo sapiens,female,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
4,TCGA-EE-A2MK,"[{'system': 'GDC', 'value': 'TCGA-EE-A2MK'}, {...",Homo sapiens,female,white,not hispanic or latino,-6831.0,"[tcga_skcm, TCGA-SKCM]",Alive,NaN,None
5,AD8044,"[{'system': 'GDC', 'value': 'AD8044'}]",Homo sapiens,female,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
6,AD10629,"[{'system': 'GDC', 'value': 'AD10629'}]",Homo sapiens,female,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
7,TCGA-EE-A2GS,"[{'system': 'GDC', 'value': 'TCGA-EE-A2GS'}, {...",Homo sapiens,female,white,not hispanic or latino,-10421.0,"[tcga_skcm, TCGA-SKCM]",Dead,2470.0,None
8,TCGA-D3-A51J,"[{'system': 'GDC', 'value': 'TCGA-D3-A51J'}, {...",Homo sapiens,male,white,not hispanic or latino,-7194.0,"[tcga_skcm, TCGA-SKCM]",Alive,NaN,None
9,AD16664,"[{'system': 'GDC', 'value': 'AD16664'}]",Homo sapiens,female,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
10,TCGA-D3-A8GJ,"[{'system': 'GDC', 'value': 'TCGA-D3-A8GJ'}, {...",Homo sapiens,male,white,not hispanic or latino,-6684.0,"[tcga_skcm, TCGA-SKCM]",Alive,NaN,None
11,TCGA-W3-AA21,"[{'system': 'GDC', 'value': 'TCGA-W3-AA21'}, {...",Homo sapiens,male,white,not hispanic or latino,-9527.0,"[tcga_skcm, TCGA-SKCM]",Dead,3195.0,None
12,AD12068,"[{'system': 'GDC', 'value': 'AD12068'}]",Homo sapiens,female,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
13,TCGA-D3-A2JK,"[{'system': 'GDC', 'value': 'TCGA-D3-A2JK'}, {...",Homo sapiens,male,white,not hispanic or latino,-8952.0,"[tcga_skcm, TCGA-SKCM]",Dead,368.0,None
14,TCGA-LH-A9QB,"[{'system': 'GDC', 'value': 'TCGA-LH-A9QB'}, {...",Homo sapiens,female,white,not hispanic or latino,-9058.0,"[tcga_skcm, TCGA-SKCM]",Alive,NaN,None
15,TCGA-D3-A8GE,"[{'system': 'GDC', 'value': 'TCGA-D3-A8GE'}, {...",Homo sapiens,male,white,hispanic or latino,-9517.0,"[tcga_skcm, TCGA-SKCM]",Alive,NaN,None
16,AD2242,"[{'system': 'GDC', 'value': 'AD2242'}]",Homo sapiens,female,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
17,AD2797,"[{'system': 'GDC', 'value': 'AD2797'}]",Homo sapiens,female,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
18,AD14514,"[{'system': 'GDC', 'value': 'AD14514'}]",Homo sapiens,male,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
19,TCGA-GN-A263,"[{'system': 'GDC', 'value': 'TCGA-GN-A263'}, {...",Homo sapiens,male,white,not hispanic or latino,-8952.0,"[tcga_skcm, TCGA-SKCM]",Dead,467.0,None
20,TCGA-D3-A8GN,"[{'system': 'GDC', 'value': 'TCGA-D3-A8GN'}, {...",Homo sapiens,female,white,not hispanic or latino,-10185.0,"[tcga_skcm, TCGA-SKCM]",Alive,NaN,None
21,TCGA-DA-A1I5,"[{'system': 'GDC', 'value': 'TCGA-DA-A1I5'}, {...",Homo sapiens,female,white,not hispanic or latino,-10017.0,"[tcga_skcm, TCGA-SKCM]",Alive,NaN,None
22,AD6425,"[{'system': 'GDC', 'value': 'AD6425'}]",Homo sapiens,female,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
23,TCGA-VD-A8KA,"[{'system': 'GDC', 'value': 'TCGA-VD-A8KA'}, {...",Homo sapiens,male,not reported,not reported,-8271.0,"[TCGA-UVM, tcga_uvm]",Alive,NaN,None
24,AD6979,"[{'system': 'GDC', 'value': 'AD6979'}]",Homo sapiens,female,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
25,TCGA-EE-A29C,"[{'system': 'GDC', 'value': 'TCGA-EE-A29C'}, {...",Homo sapiens,male,white,not hispanic or latino,-7510.0,"[tcga_skcm, TCGA-SKCM]",Dead,2402.0,None
26,TCGA-FR-A44A,"[{'system': 'GDC', 'value': 'TCGA-FR-A44A'}, {...",Homo sapiens,female,white,not hispanic or latino,-10707.0,"[tcga_skcm, TCGA-SKCM]",Alive,NaN,None
27,AD8261,"[{'system': 'GDC', 'value': 'AD8261'}]",Homo sapiens,female,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
28,TCGA-EE-A2MG,"[{'system': 'GDC', 'value': 'TCGA-EE-A2MG'}, {...",Homo sapiens,male,white,not hispanic or latino,-8405.0,"[tcga_skcm, TCGA-SKCM]",Dead,3139.0,None
29,TCGA-FS-A1Z7,"[{'system': 'GDC', 'value': 'TCGA-FS-A1Z7'}, {...",Homo sapiens,male,white,not hispanic or latino,-7293.0,"[tcga_skcm, TCGA-SKCM]",Dead,237.0,None
30,TCGA-ER-A3ES,"[{'system': 'GDC', 'value': 'TCGA-ER-A3ES'}, {...",Homo sapiens,male,white,not hispanic or latino,-9366.0,"[tcga_skcm, TCGA-SKCM]",Dead,7514.0,None
31,TCGA-D3-A5GR,"[{'system': 'GDC', 'value': 'TCGA-D3-A5GR'}, {...",Homo sapiens,female,white,not hispanic or latino,-8637.0,"[tcga_skcm, TCGA-SKCM]",Alive,NaN,None
32,TCGA-EE-A3AG,"[{'system': 'GDC', 'value': 'TCGA-EE-A3AG'}, {...",Homo sapiens,male,white,not hispanic or latino,-9161.0,"[tcga_skcm, TCGA-SKCM]",Dead,1265.0,None
33,TCGA-D3-A8GV,"[{'system': 'GDC', 'value': 'TCGA-D3-A8GV'}, {...",Homo sapiens,male,white,not hispanic or latino,-9344.0,"[tcga_skcm, TCGA-SKCM]",Dead,5101.0,None
34,AD14301,"[{'system': 'GDC', 'value': 'AD14301'}]",Homo sapiens,male,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
35,AD14593,"[{'system': 'GDC', 'value': 'AD14593'}]",Homo sapiens,male,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
36,AD1431,"[{'system': 'GDC', 'value': 'AD1431'}]",Homo sapiens,male,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
37,TCGA-D3-A5GN,"[{'system': 'GDC', 'value': 'TCGA-D3-A5GN'}, {...",Homo sapiens,female,white,not hispanic or latino,-5684.0,"[tcga_skcm, TCGA-SKCM]",Alive,NaN,None
38,AD3183,"[{'system': 'GDC', 'value': 'AD3183'}]",Homo sapiens,male,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
39,AD3072,"[{'system': 'GDC', 'value': 'AD3072'}]",Homo sapiens,male,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None
40,AD17114,"[{'system': 'GDC', 'value': 'AD17114'}]",Homo sapiens,male,not reported,not reported,NaN,[FM-AD],Not Reported,NaN,None

In addition, we can check how many records come from particular systems by adding one more condition to the query:

In [ ]:
q1 = Q('ResearchSubject.Specimen.primary_disease_type = "Nevi and Melanomas"')
q2 = Q('ResearchSubject.Diagnosis.age_at_diagnosis < 30*365')
q3 = Q('ResearchSubject.Specimen.identifier.system = "GDC"')

q = q1.And(q2.And(q3))
r = q.run()

print(r)

By comparing the ```Count``` value of the two results we can see that all the patients returned in the initial query are coming from the GDC.

To explore the results further, we can fetch the patient JSON objects by iterating through the results:

In [ ]:
projects = set()

for patient in r:
    research_subjects = patient['ResearchSubject']
    for rs in research_subjects:
        projects.add(rs['member_of_research_project'])

print(projects)

The output shows the projects where _Nevi and Melanomas_ cases appear.

### Query 3

**Identify all samples that meet the following conditions:**

* **Sample is from primary tumor**
* **Disease is ovarian or breast cancer**
* **Subjects are females under the age of 60 years**

In [ ]:
tumor_type = Q('ResearchSubject.Specimen.source_material_type = "Primary Tumor"')
disease1 = Q('ResearchSubject.primary_diagnosis_site = "Ovary"')
disease2 = Q('ResearchSubject.primary_diagnosis_site = "Breast"')
demographics1 = Q('sex = "female"')
demographics2 = Q('days_to_birth > -60*365') # note that days_to_birth is a negative value

q1 = tumor_type.And(demographics1.And(demographics2))
q2 = disease1.Or(disease2)
q = q1.And(q2)

r = q.run()
print(r)

In this case, we have a result that contains more than 1000 records which is the default page size. To load the next 1000 records, we can use the ```next_page()``` method:

In [ ]:
r2 = r.next_page()

In [ ]:
print(r2)

Alternatively, we can use the ```offset``` argument to specify the record to start from:

```
...
r = q.run(offset=1000)
print(r)
```

### Query 4

**Find data for donors with "Ovarian Serous Cystadenocarcinoma" with proteomic and genomic data.**

**Note that disease type value denoting the same disease groups can be completely different within different systems. This is where CDA features come into play.** We first start by exploring the values available for this particular field in both systems.

In [ ]:
unique_terms('ResearchSubject.primary_diagnosis_condition', system="GDC")

Since Ovarian Serous Cystadenocarcinoma doesnt appear in GDC values we decide to look into the PDC:

In [ ]:
unique_terms('ResearchSubject.primary_diagnosis_condition', system="PDC")

After examining the output, we see that it does come from the PDC. Hence, if we could first identify the data that has research subjects found within the PDC that have this particular disease type, and then further narrow down the results to include only the portion of the data that is present in GDC, we could get the records that we are looking for.

In [ ]:
q1 = Q('ResearchSubject.primary_diagnosis_condition = "Ovarian Serous Cystadenocarcinoma"')
q2 = Q('ResearchSubject.identifier.system = "PDC"')
q3 = Q('ResearchSubject.identifier.system = "GDC"')

q = q3.From(q1.And(q2))
r = q.run()

print(r)

As you can see, this is achieved by utilizing ```From``` operator. The ```From``` operator allows us to create queries from results of other queries. This is particularly useful when working with conditions that involve a single field which can take multiple different values for different items in a list that is being part of, e.g. we need ```ResearchSubject.identifier.system``` to be both PDC and GDC for a single patient. In such cases, ```And``` operator cant help because it will return those entries where the field takes both values, which is zero entries.

In [ ]:
for i in Q.sql("SELECT * FROM `gdc-bq-sample.cda_mvp.INFORMATION_SCHEMA.COLUMN_FIELD_PATHS` WHERE table_name = 'v3' Limit 5"):
    print(i)

In [ ]:
q1 = query('ResearchSubject.identifier.system = "GDC" FROM ResearchSubject.primary_diagnosis_condition = "Ovarian Serous Cystadenocarcinoma" AND ResearchSubject.identifier.system = "PDC"')
result = q1.run(async_call=True)
print(result)

## Data extraction and release information

In [ ]:
# If you are interested in the extraction dates or data release versions of GDC, PDC, or IDC that is in a table or view, execute this code

for i in Q.sql("SELECT option_value FROM `gdc-bq-sample.integration.INFORMATION_SCHEMA.TABLE_OPTIONS` WHERE table_name = 'all_v1'"):
    print(i)