## Import available `cdapython` functions

In [1]:
from cdapython.data_exploration import tables, columns, column_values, column_data_types
from cdapython.fetch import fetch_rows
from cdapython.query import summary_counts

## Get a list of searchable CDA tables

In [2]:
tables()

['diagnosis',
 'file',
 'researchsubject',
 'somatic_mutation',
 'specimen',
 'subject',
 'treatment']

## Explore CDA tables' columns in detail

In [3]:
columns()

,table,column,data_type,nullable,description
0,diagnosis,diagnosis_id,text,False,The logical identifier of the entity in the re...
1,diagnosis,age_at_diagnosis,integer,True,The age in days of the individual at the time ...
2,diagnosis,grade,text,True,"The degree of abnormality of cancer cells, a m..."
3,diagnosis,method_of_diagnosis,text,True,The method used to confirm the subjects malign...
4,diagnosis,morphology,text,True,Code that represents the histology of the dise...
...,...,...,...,...,...
201,treatment,treatment_anatomic_site,text,True,The anatomical site that the treatment targets.
202,treatment,treatment_effect,text,True,The effect of a treatment on the diagnosis or ...
203,treatment,treatment_end_reason,text,True,The reason the treatment ended.
204,treatment,treatment_outcome,text,True,The final outcome of the treatment.
205,treatment,treatment_type,text,True,The treatment type including medication/therap...

## See what values are populated in a given column

In [4]:
column_values( 'primary_diagnosis_site' )

                                primary_diagnosis_site  count
0                                                Chest  28221
1                                               Breast  24682
2                                                       16424
3                                    Bronchus and lung  13401
4        Hematopoietic and reticuloendothelial systems  11590
..                                                 ...    ...
211  Skin, NOS (excludes skin of labia majora C51.0...      1
212                                    Small Intestine      1
213  Soft palate, NOS (excludes nasopharyngeal surf...      1
214                                    Spinal meninges      1
215                                       Supraglottis      1

[216 rows x 2 columns]

## Fetch subject row summary information for a column value

In [35]:
fetch_rows( table= 'file', match_all = 'primary_diagnosis_site = kid*', count_only=True )

fetch_rows(): ERROR: error message from API: 'PreparedStatementCallback; bad SQL grammar [WITH researchsubject_id_preselect AS (SELECT integer_id_alias FROM researchsubject WHERE (COALESCE(UPPER(primary_diagnosis_site), '') LIKE UPPER(?))) SELECT COUNT(DISTINCT(file_alias)) FROM file WHERE researchsubject_alias IN (SELECT integer_id_alias FROM researchsubject_id_preselect);]; nested exception is org.postgresql.util.PSQLException: ERROR: column "file_alias" does not exist
  Position: 174'

## Fetch subject rows for a column value

In [34]:
fetch_rows( table= 'somatic_mutation', match_all = 'subject_id = TCGA.TCGA-04-1369')

,case_id,cda_subject_id,entrez_gene_id,file_gdc_id,hgnc_id,transcript_id,aliquot_barcode_normal,aliquot_barcode_tumor,all_effects,allele,...,tumor_validation_allele2,uniparc,uniprot_isoform,validation_method,validation_status,variant_class,variant_classification,variant_type,varscan2,verification_status
0,6c43727d-631a-40fb-b1a1-242a12889eaa,TCGA.TCGA-04-1369,26154,7f5e52cd-7481-4e75-9826-8fb59cbc413b,HGNC:14637,ENST00000272895,TCGA-04-1369-11A-01D-1526-09,TCGA-04-1369-01A-02D-1526-09,"ABCA12,missense_variant,p.F2503L,ENST000002728...",G,...,,UPI000019AB7A,Q86UK0-1,,,SNV,Missense_Mutation,SNP,No,
1,6c43727d-631a-40fb-b1a1-242a12889eaa,TCGA.TCGA-04-1369,0,7f5e52cd-7481-4e75-9826-8fb59cbc413b,,ENST00000645635,TCGA-04-1369-11A-01D-1526-09,TCGA-04-1369-01A-02D-1526-09,"AC126283.2,synonymous_variant,p.I126=,ENST0000...",G,...,,UPI000D195932,,,,SNV,Silent,SNP,No,
2,6c43727d-631a-40fb-b1a1-242a12889eaa,TCGA.TCGA-04-1369,32,7f5e52cd-7481-4e75-9826-8fb59cbc413b,HGNC:85,ENST00000338432,TCGA-04-1369-11A-01D-1526-09,TCGA-04-1369-01A-02D-1526-09,"ACACB,missense_variant,p.D1150N,ENST0000033843...",A,...,,UPI0000DBEEFB,O00763-1,,,SNV,Missense_Mutation,SNP,Yes,
3,6c43727d-631a-40fb-b1a1-242a12889eaa,TCGA.TCGA-04-1369,23305,7f5e52cd-7481-4e75-9826-8fb59cbc413b,HGNC:16496,ENST00000379240,TCGA-04-1369-11A-01D-1526-09,TCGA-04-1369-01A-02D-1526-09,"ACSL6,missense_variant,p.P462L,ENST00000651356...",A,...,,UPI000048062A,Q9UKU0-4,,,SNV,Missense_Mutation,SNP,Yes,
4,6c43727d-631a-40fb-b1a1-242a12889eaa,TCGA.TCGA-04-1369,79026,7f5e52cd-7481-4e75-9826-8fb59cbc413b,HGNC:347,ENST00000378024,TCGA-04-1369-11A-01D-1526-09,TCGA-04-1369-01A-02D-1526-09,"AHNAK,missense_variant,p.L4730V,ENST0000037802...",C,...,,UPI00004EC29C,Q09666-1,,,SNV,Missense_Mutation,SNP,No,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,6c43727d-631a-40fb-b1a1-242a12889eaa,TCGA.TCGA-04-1369,7366,7f5e52cd-7481-4e75-9826-8fb59cbc413b,HGNC:12546,ENST00000338206,TCGA-04-1369-11A-01D-1526-09,TCGA-04-1369-01A-02D-1526-09,"UGT2B15,missense_variant,p.C157W,ENST000003382...",C,...,,UPI000045721A,,,,SNV,Missense_Mutation,SNP,Yes,
99,6c43727d-631a-40fb-b1a1-242a12889eaa,TCGA.TCGA-04-1369,8975,7f5e52cd-7481-4e75-9826-8fb59cbc413b,HGNC:12611,ENST00000263966,TCGA-04-1369-11A-01D-1526-09,TCGA-04-1369-01A-02D-1526-09,"USP13,synonymous_variant,p.Q421=,ENST000002639...",A,...,,UPI000006DC10,Q92995-1,,,SNV,Silent,SNP,Yes,
100,6c43727d-631a-40fb-b1a1-242a12889eaa,TCGA.TCGA-04-1369,65268,7f5e52cd-7481-4e75-9826-8fb59cbc413b,HGNC:14542,ENST00000297954,TCGA-04-1369-11A-01D-1526-09,TCGA-04-1369-01A-02D-1526-09,"WNK2,missense_variant,p.P1346Q,ENST00000297954...",A,...,,UPI0000236D76,Q9Y3S1-1,,,SNV,Missense_Mutation,SNP,Yes,
101,6c43727d-631a-40fb-b1a1-242a12889eaa,TCGA.TCGA-04-1369,65267,7f5e52cd-7481-4e75-9826-8fb59cbc413b,HGNC:14543,ENST00000354646,TCGA-04-1369-11A-01D-1526-09,TCGA-04-1369-01A-02D-1526-09,"WNK3,synonymous_variant,p.L796=,ENST0000035464...",A,...,,UPI00001AF003,,,,SNV,Silent,SNP,Yes,
102,6c43727d-631a-40fb-b1a1-242a12889eaa,TCGA.TCGA-04-1369,285676,7f5e52cd-7481-4e75-9826-8fb59cbc413b,HGNC:21200,ENST00000320129,TCGA-04-1369-11A-01D-1526-09,TCGA-04-1369-01A-02D-1526-09,"ZNF454,missense_variant,p.S323I,ENST0000051956...",T,...,,UPI00001407C7,,,,SNV,Missense_Mutation,SNP,Yes,

### Fetch rows from any table for a column value



<div class="tabbed-set tabbed-alternate" data-tabs="1:6"><input checked="checked" id="__tabbed_1_1" name="__tabbed_1" type="radio" /><input id="__tabbed_1_2" name="__tabbed_1" type="radio" /><input id="__tabbed_1_3" name="__tabbed_1" type="radio" /><input id="__tabbed_1_4" name="__tabbed_1" type="radio" /><input id="__tabbed_1_5" name="__tabbed_1" type="radio" /><input id="__tabbed_1_6" name="__tabbed_1" type="radio" /><div class="tabbed-labels"><label for="__tabbed_1_1">subject data</label><label for="__tabbed_1_2">research subject data</label><label for="__tabbed_1_3">specimen data</label><label for="__tabbed_1_4">diagnosis data</label><label for="__tabbed_1_5">treatment data</label><label for="__tabbed_1_6">mutation data</label></div>
<div class="tabbed-content">
<div class="tabbed-block">
<div class="highlight"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span></span><span class="normal">1</span></pre></div></td><td class="code"><div><pre><span></span><code><span class="n">fetch_rows</span><span class="p">(</span> <span class="n">table</span><span class="o">=</span> <span class="s2">&quot;subject&quot;</span><span class="p">,</span> <span class="n">match_all</span><span class="o">=</span><span class="s1">&#39;primary_disease_site = kid*&#39;</span> <span class="p">)</span>
</code></pre></div></td></tr></table></div>
</div>
<div class="tabbed-block">
<div class="highlight"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span></span><span class="normal">1</span></pre></div></td><td class="code"><div><pre><span></span><code><span class="n">fetch_rows</span><span class="p">(</span> <span class="n">table</span><span class="o">=</span> <span class="s2">&quot;research_subject&quot;</span><span class="p">,</span> <span class="n">match_all</span><span class="o">=</span><span class="s1">&#39;primary_disease_site = kid*&#39;</span> <span class="p">)</span>
</code></pre></div></td></tr></table></div>
</div>
<div class="tabbed-block">
<div class="highlight"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span></span><span class="normal">1</span></pre></div></td><td class="code"><div><pre><span></span><code><span class="n">fetch_rows</span><span class="p">(</span> <span class="n">table</span><span class="o">=</span> <span class="s2">&quot;specimen&quot;</span><span class="p">,</span> <span class="n">match_all</span><span class="o">=</span><span class="s1">&#39;primary_disease_site = kid*&#39;</span> <span class="p">)</span>
</code></pre></div></td></tr></table></div>
</div>
<div class="tabbed-block">
<div class="highlight"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span></span><span class="normal">1</span></pre></div></td><td class="code"><div><pre><span></span><code><span class="n">fetch_rows</span><span class="p">(</span> <span class="n">table</span><span class="o">=</span> <span class="s2">&quot;diagnosis&quot;</span><span class="p">,</span> <span class="n">match_all</span><span class="o">=</span><span class="s1">&#39;primary_disease_site = kid*&#39;</span> <span class="p">)</span>
</code></pre></div></td></tr></table></div>
</div>
<div class="tabbed-block">
<div class="highlight"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span></span><span class="normal">1</span></pre></div></td><td class="code"><div><pre><span></span><code><span class="n">fetch_rows</span><span class="p">(</span> <span class="n">table</span><span class="o">=</span> <span class="s2">&quot;treatment&quot;</span><span class="p">,</span> <span class="n">match_all</span><span class="o">=</span><span class="s1">&#39;primary_disease_site = kid*&#39;</span> <span class="p">)</span>
</code></pre></div></td></tr></table></div>
</div>
<div class="tabbed-block">
<div class="highlight"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre><span></span><span class="normal">1</span></pre></div></td><td class="code"><div><pre><span></span><code><span class="n">fetch_rows</span><span class="p">(</span> <span class="n">table</span><span class="o">=</span> <span class="s2">&quot;mutation&quot;</span><span class="p">,</span> <span class="n">match_all</span><span class="o">=</span><span class="s1">&#39;primary_disease_site = kid*&#39;</span> <span class="p">)</span>
</code></pre></div></td></tr></table></div>
</div>
</div>
</div>

In [7]:
columns(
        table=[ 'file', '*subject*' ],
        column=[ '*data*', 'days*', '*size', '*_id' ],
        data_type=[ 'boolean', '*int*' ],
        nullable=True, 
        description_contains=[ 'date used', 'file in bytes' ],
        sort_by=[ 'table:desc', 'column:desc' ]
)

,table,column,data_type,nullable,description
0,subject,days_to_death,integer,True,Number of days between the date used for index...
1,subject,days_to_birth,integer,True,Number of days between the date used for index...
2,file,byte_size,bigint,True,Size of the file in bytes. Maps to dcat:byteSize.

Look for anatomical information:

In [8]:
columns( column='*site*' )

,table,column,data_type,nullable,description
0,researchsubject,primary_diagnosis_site,text,True,The text term used to describe the primary sit...
1,somatic_mutation,primary_site,text,True,Anatomical site of the cancer under investigat...
2,specimen,anatomical_site,text,True,"Per GDC Dictionary, the text term that represe..."
3,treatment,treatment_anatomic_site,text,True,The anatomical site that the treatment targets.

Profile and count values in a column of interest:

Refine `columns()` search:

Refine `column_values()` search:

In [9]:
column_values( 'primary_diagnosis_site', sort_by='value:desc', filters=[ '*lung*', '*kidney*' ] )

                              primary_diagnosis_site  count
0                             Lung/Bronchus, Unknown     38
1                                      Lung/Bronchus     18
2                                          Lung, NOS      2
3                                       Lung Phantom      8
4                                               Lung   4964
5                                    Kidney, Unknown     42
6                                        Kidney, NOS      3
7                                             Kidney   5734
8                                  Bronchus and lung  13401
9  Abdomen, Arm, Bladder, Chest, Head-Neck, Kidne...     88

Explore CDA records, filtering on columns of interest:

In [10]:
fetch_rows( table= "subject", count_only=True )

{'distinct_subject_rows': 160442, 'total_result_rows': 160442}

Refine record search as we go:

In [11]:
fetch_rows( table= "subject", match_some=[ 'subject_id = 4d*', 'subject_id = acrin*' ], count_only=True )

{'distinct_subject_rows': 1714, 'total_result_rows': 1714}

Now we have a manageable dataset. Stop counting and start looking at data:

In [12]:
fetch_rows( table= "subject", match_some=[ 'subject_id = 4d*', 'subject_id = acrin*' ] )

,subject_id,cause_of_death,days_to_birth,days_to_death,ethnicity,race,sex,species,vital_status
0,4d_lung.100_HM10395,,<NA>,<NA>,,,M,Homo sapiens,
1,4d_lung.101_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
2,4d_lung.102_HM10395,,<NA>,<NA>,,,M,Homo sapiens,
3,4d_lung.103_HM10395,,<NA>,<NA>,,,M,Homo sapiens,
4,4d_lung.104_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
...,...,...,...,...,...,...,...,...,...
1709,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-247,,<NA>,<NA>,,,M,Homo sapiens,
1710,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-248,,<NA>,<NA>,,,M,Homo sapiens,
1711,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-249,,<NA>,<NA>,,,F,Homo sapiens,
1712,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-250,,<NA>,<NA>,,,M,Homo sapiens,
1713,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-251,,<NA>,<NA>,,,F,Homo sapiens,

In [13]:
fetch_rows( table= "subject", match_some=[ 'subject_id = 4d*', 'subject_id = acrin*' ], match_all=[ 'sex = f' ] )

,subject_id,cause_of_death,days_to_birth,days_to_death,ethnicity,race,sex,species,vital_status
0,4d_lung.101_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
1,4d_lung.104_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
2,4d_lung.106_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
3,4d_lung.107_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
4,4d_lung.108_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
...,...,...,...,...,...,...,...,...,...
1526,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-236,,<NA>,<NA>,,,F,Homo sapiens,
1527,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-239,,<NA>,<NA>,W,,F,Homo sapiens,
1528,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-242,,<NA>,<NA>,,,F,Homo sapiens,
1529,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-249,,<NA>,<NA>,,,F,Homo sapiens,
1530,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-251,,<NA>,<NA>,,,F,Homo sapiens,

In [14]:
fetch_rows( table= "subject", match_some=[ 'subject_id = 4d*', 'subject_id = acrin*' ], match_all=[ 'sex = f*', 'primary_diagnosis_site != breast' ] )

,subject_id,cause_of_death,days_to_birth,days_to_death,ethnicity,race,sex,species,vital_status
0,4d_lung.101_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
1,4d_lung.104_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
2,4d_lung.106_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
3,4d_lung.107_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
4,4d_lung.108_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
...,...,...,...,...,...,...,...,...,...
89,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-236,,<NA>,<NA>,,,F,Homo sapiens,
90,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-239,,<NA>,<NA>,W,,F,Homo sapiens,
91,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-242,,<NA>,<NA>,,,F,Homo sapiens,
92,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-249,,<NA>,<NA>,,,F,Homo sapiens,
93,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-251,,<NA>,<NA>,,,F,Homo sapiens,

Extensive debug information!

In [15]:
fetch_rows( table= "subject", match_some=[ 'subject_id = 4d*', 'subject_id = acrin*' ], match_all=[ 'sex = f*', 'primary_diagnosis_site != breast' ], debug=True )

{
    "node_type": "AND",
    "l": {
        "node_type": "AND",
        "l": {
            "node_type": "LIKE",
            "l": {
                "node_type": "column",
                "value": "sex"
            },
            "r": {
                "node_type": "quoted",
                "value": "f%"
            }
        },
        "r": {
            "node_type": "!=",
            "l": {
                "node_type": "column",
                "value": "primary_diagnosis_site"
            },
            "r": {
                "node_type": "quoted",
                "value": "breast"
            }
        }
    },
    "r": {
        "node_type": "OR",
        "l": {
            "node_type": "LIKE",
            "l": {
                "node_type": "column",
                "value": "subject_id"
            },
            "r": {
                "node_type": "quoted",
                "value": "4d%"
            }
        },
        "r": {
            "node_type": "LIKE",
            "l": {
                "node_type": "column",
                "value": "subject_id"
            },
            "r": {
                "node_type": "quoted",
                "value": "acrin%"
            }
        }
    }
}

--------------------------------------------------------------------------------
BEGIN DEBUG MESSAGE: fetch_rows(): Loaded CDA API URL from default config
--------------------------------------------------------------------------------

[{'url': 'http://localhost:8080', 'description': 'URL of CDA REST API service'}]

--------------------------------------------------------------------------------
END  DEBUG MESSAGE: fetch_rows(): Loaded CDA API URL from default config
--------------------------------------------------------------------------------

--------------------------------------------------------------------------------
BEGIN DEBUG MESSAGE: fetch_rows(): Querying CDA API 'subject' endpoint (fetching all results)
--------------------------------------------------------------------------------

Organizing result data...
   -- filtering API columns: ['subject_identifier', 'subject_associated_project']
Handling missing values...

,subject_id,cause_of_death,days_to_birth,days_to_death,ethnicity,race,sex,species,vital_status
0,4d_lung.101_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
1,4d_lung.104_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
2,4d_lung.106_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
3,4d_lung.107_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
4,4d_lung.108_HM10395,,<NA>,<NA>,,,F,Homo sapiens,
...,...,...,...,...,...,...,...,...,...
89,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-236,,<NA>,<NA>,,,F,Homo sapiens,
90,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-239,,<NA>,<NA>,W,,F,Homo sapiens,
91,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-242,,<NA>,<NA>,,,F,Homo sapiens,
92,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-249,,<NA>,<NA>,,,F,Homo sapiens,
93,acrin_nsclc_fdg_pet.ACRIN-NSCLC-FDG-PET-251,,<NA>,<NA>,,,F,Homo sapiens,

There is handy help!

In [16]:
help( columns )

Help on function columns in module cdapython.data_exploration:

columns(*, return_data_as='', output_file='', sort_by='', debug=False, **filter_arguments)
    Get structured metadata describing searchable CDA columns.

    Arguments:
        return_data_as ( string; optional: 'dataframe' or 'list' or 'tsv' ):
            Specify how columns() should return results: as a pandas DataFrame,
            a Python list, or as output written to a TSV file named by the user.
            If this argument is omitted, columns() will default to returning
            results as a DataFrame.

        output_file( string; optional ):
            If return_data_as='tsv' is specified, output_file should contain a
            resolvable path to a file into which columns() will write
            tab-delimited results.

        sort_by( string or list of strings; optional:
                    any combination of 'table', 'column', 'data_type',
                    and/or 'nullable'):
            Specify the column metadata field(s) on which to sort result data.
            Results will be sorted first by the first named field; groups of
            records sharing the same value in the first field will then be
            sub-sorted by the second field, and so on.

            Any field with a suffix of ':desc' appended to it will be sorted
            in reverse order; adding ':asc' will ensure ascending sort order.
            Example: sort_by=[ 'table', 'nullable:desc', 'column:asc' ]

        debug( boolean; optional ):
            If set to True, print internal process details to the standard
            error stream.

    Filter arguments:
        table ( string or list of strings; optional ):
            Restrict returned data to columns from tables whose names match any
            of the given strings. A wildcard (asterisk) at either end (or both
            ends) of each string will allow partial matches. Case will be
            ignored.

        column ( string or list of strings; optional ):
            Restrict returned data to columns whose name matches any of the
            given strings. A wildcard (asterisk) at either end (or both ends)
            of each string will allow partial matches. Case will be ignored.

        data_type ( string or list of strings; optional ):
            Restrict returned data to columns whose data type matches any of
            the given strings. A wildcard (asterisk) at either end (or both
            ends) of each string will allow partial matches. Case will be
            ignored.

        nullable ( boolean; optional ):
            If set to True, restrict returned data to columns whose values are
            allowed to be empty; if False, return data only for columns
            requiring nonempty values.

        description_contains ( string or list of strings; optional ):
            Restrict returned data to columns whose `description` field matches
            any of the given strings. Wildcards will be automatically applied
            (end-to-end matching makes no sense here), emphasized by the name
            'description_contains' and not 'description'. Case will be ignored.

        exclude_table ( string or list of strings; optional ):
            Restrict returned data to columns from tables whose names do _not_
            match any of the given strings. A wildcard (asterisk) at either end
            (or both ends) of each string will allow partial matches. Case will
            be ignored.

    Returns:
        pandas.DataFrame where each row is a metadata record describing one
        searchable CDA column and is comprised of the following fields:

            `table` (string: name of the CDA table containing this column)
            `column` (string: name of this column)
            `data_type` (string: data type of this column)
            `nullable` (boolean: if True, this column can contain null values)`
            `description` (string: prose description of this column)

        OR list of column names

        OR returns nothing, but writes results to a user-specified TSV file

In [17]:
help( column_values )

Help on function column_values in module cdapython.data_exploration:

column_values(column='', *, return_data_as='dataframe', output_file='', sort_by='', filters='', data_source='', force=False, debug=False)
    Show all distinct values present in `column`, along with a count
    of occurrences for each value.

    Arguments:
        column ( string; required ):
            The column to fetch values from.

        return_data_as ( string; optional:
                'dataframe' (default) or 'list' or 'tsv' ):
            Specify how column_values() should return results: as a pandas
            DataFrame, a Python list, or as output written to a TSV file named
            by the user.

        output_file( string; optional ):
            If return_data_as='tsv' is specified, output_file should contain a
            resolvable path to a file into which column_values will write
            tab-delimited results.

        sort_by( string; optional:
                'count' ( default for return_data_as='dataframe' and
                return_data_as='tsv' ) or 'value' ( default for
                return_data_as='list' ) or 'count:desc' or 'value:desc'
                or 'count:asc' or 'value:asc' ):
            Specify the primary column to sort when preparing result data: on
            values, or on counts of values.

            A column name with a suffix of ':desc' appended to it will be
            sorted in reverse order; adding ':asc' will ensure ascending sort
            order. Example: sort_by='value:desc'

            Secondary sort order is automatic: if the results are to be
            primarily sorted by count, then the automatic behavior will be to
            also (alphabetically) sort by value within each group of values
            that all share the same count. If results are primarily sorted by
            value, then there is no secondary sort -- each value is unique by
            design, so results don't contain groups with the same value but
            different counts, so there's nothing to arrange once the primary
            sort has been applied.

        filters ( string or list of strings; optional ):
            Restrict returned values to those matching any of the given strings.
            A wildcard (asterisk) at either end (or both ends) of each string
            will allow partial matches. Case will be ignored. Use an empty
            filter string '' to match and count missing (null) values.

        data_source ( string; optional ):
            Restrict returned values to the given upstream data source, such
            as 'GDC', 'IDC', 'PDC', or 'CDS'. Defaults to '' (no filter).

        force( boolean; optional ):
            Force execution of high-overhead queries on columns (like IDs)
            flagged as having large numbers of values (see below under
            `expensive_columns`). Defaults to False, in which case attempts
            to retrieve values for flagged columns will result in a warning.

        debug( boolean; optional ): If set to True, print internal process
        details to the standard error stream.

    Returns:
        pandas.DataFrame OR list OR returns nothing, but writes retrieved
        data to a user-specified TSV file

In [18]:
help( fetch_rows )

Help on function fetch_rows in module cdapython.fetch:

fetch_rows(table=None, *, match_all=[], match_some=[], link_to_table='', add_columns=[], data_source=[], count_only=False, debug=False)
    Get CDA data records ('result rows') from `table` that match user-specified criteria.

    Arguments:
        table( string; required ):
            The table whose rows are to be filtered and retrieved. (Run the tables()
            function to get a list.)

        match_all ( string or list of strings; optional ):
            One or more conditions, expressed as filter strings (see below),
            ALL of which must be met by all result rows.

        match_some ( string or list of strings; optional ):
            One or more conditions, expressed as filter strings (see below),
            AT LEAST ONE of which must be met by all result rows.

        link_to_table ( string; optional ):
            A second table from which to fetch rows related to the row results
            from `table` that this function produces. `link_to_table` results
            will be appended to `table` rows to which they're related:
            any `table` row related to more than one `link_to_table` row will
            be repeated in the returned data, with one distinct `link_to_table` row
            appended to each repeated copy of its related `table` row.
            Note: if `link_to_table` is specified, the `add_columns` parameter will be
            overridden and ignored.

        add_columns ( string or list of strings; optional ):
            One or more columns from a second table to add to result data from `table`.
            If multiple values from an added column are all associated with a single
            `table` row, that row will be repeated once for each distinct value, with
            the added data appended to each row.

        data_source ( string or list of strings; optional ):
            Restrict results to those deriving from the given upstream data source(s), such
            as 'GDC', 'IDC', 'PDC', or 'CDS'. (Default: no filter.)

        count_only ( boolean; optional ):
            If set to True, fetch_rows() will return two integers: the number of CDA
            `table` rows matching the specified filters, and the total number of rows
            that this function would return if `count_only` were not True. (These numbers
            will be identical if no data from outside `table` has been joined to result
            rows. If `count_only` is set to False (the default), fetch_rows() will
            return a pandas DataFrame containing all CDA `table` rows that match the
            given filters.

        debug ( boolean; optional ):
            If set to True, internal process details will be printed to the standard error
            stream as fetch_rows() is running. If False (the default), ...they won't.

    Filter strings:
        Filter strings are expressions of the form "COLUMN_NAME OP VALUE"
        (note in particular that the whitespace surrounding OP is required),
        where

            COLUMN_NAME is a searchable CDA column (see the columns() function
            for details)

            OP is one of: < <=  > >= = !=

            VALUE is a particular value of whatever data type is stored
            in COLUMN_NAME (see the columns() function for details), or
            the special keyword NULL, indicating the filter should match
            missing (null) values in COLUMN_NAME.

        Operators = and != will work on numeric, boolean and string VALUEs.

        Operators < <= > >= will only work on numeric VALUEs.

        Users can require partial matches to string VALUEs by adding * to either or
        both ends. For example:

            primary_disease_type = *duct*
            sex = F*

        String VALUEs need not be quoted inside of filter strings. For example, to include
        the filters specified just above in the `match_all` argument, when querying
        the `subject` table, we can write:

            fetch_rows( table='subject', match_all=[ 'primary_disease_type = *duct*', 'sex = F*' ] )

        NULL is a special VALUE which can be used to match missing data. For
        example, to get `researchsubject` rows where the `primary_diagnosis_site` field
        is missing data, we can write:

            fetch_rows( table='researchsubject', match_all=[ 'primary_diagnosis_site = NULL' ] )

    Returns:
        integer representing the total number of CDA `table` rows matching the given
            filters (if count_only=True)

        OR

        pandas.DataFrame containing CDA `table` rows matching the user-specified
            filter criteria. The DataFrame's named columns will match columns in `table`,
            and each row in the DataFrame will contain one CDA `table` row (possibly
            with related data from a second table appended to it, according to user
            directives).

In [19]:
help( column_data_types )

Help on function column_data_types in module cdapython.data_exploration:

column_data_types()
    Get a list of all data types stored in searchable CDA columns.

    Returns:
        list of strings: names of data types stored in searchable CDA columns.

In [20]:
help( tables )

Help on function tables in module cdapython.data_exploration:

tables()
    Get a list of all searchable CDA data tables.

    Returns:
        list of strings: names of searchable CDA tables.

In [21]:
help( summary_counts )

Help on function summary_counts in module cdapython.query:

summary_counts(table='', *, match_all=[], match_some=[], data_source=[], debug=False)
    For a set of rows in a user-specified table that all match a user-specified set of filters, get
    a report showing counts of values present in that set of rows, profiled across a small set of
    pre-selected columns.

    Arguments:
        table ( string; required ):
            The table whose rows are to be filtered and counted. (Run the tables()
            function to get a list.)

        match_all ( string or list of strings; optional ):
            One or more conditions, expressed as filter strings (see below),
            ALL of which must be met by all result rows.

        match_some ( string or list of strings; optional ):
            One or more conditions, expressed as filter strings (see below),
            AT LEAST ONE of which must be met by all result rows.

        data_source ( string or list of strings; optional ):
            Restrict results to those deriving from the given upstream data source(s), such
            as 'GDC', 'IDC', 'PDC', or 'CDS'. (Default: no filter.)

        debug ( boolean; optional ):
            If set to True, internal process details will be printed to the standard error
            stream as summary_counts() is running. If False (the default), ...they won't.

    Filter strings:
        Filter strings are expressions of the form "COLUMN_NAME OP VALUE"
        (note in particular that the whitespace surrounding OP is required),
        where

            COLUMN_NAME is a searchable CDA column (see the columns() function
            for details)

            OP is one of: < <=  > >= = !=

            VALUE is a particular value of whatever data type is stored
            in COLUMN_NAME (see the columns() function for details), or
            the special keyword NULL, indicating the filter should match
            missing (null) values in COLUMN_NAME.

        Operators = and != will work on numeric, boolean and string VALUEs.

        Operators < <= > >= will only work on numeric VALUEs.

        Users can require partial matches to string VALUEs by adding * to either or
        both ends. For example:

            primary_disease_type = *duct*
            sex = F*

        String VALUEs need not be quoted inside of filter strings. For example, to include
        the filters specified just above in the `match_all` argument, we can write:

            summary_counts( table='subject', match_all=[ 'primary_disease_type = *duct*', 'sex = F*' ] )

        NULL is a special VALUE which can be used to match missing data. For
        example, to get a count summary for rows where the `sex` field is missing data,
        we can write:

            summary_counts( table='subject', match_all=[ 'sex = NULL' ] )

    Returns:
        Python dictionary enumerating counts of all data values (from a small set of pre-selected columns)
        appearing in any of the rows of the user-specified `table` that match the user-specified filter criteria
        (the 'result rows'). One or two summary keys in this dictionary -- 'total_`table`_matches', and
        sometimes 'total_related_files', where appropriate -- will point to integers representing
        the number of result rows and the number of files related to those rows, respectively. All other keys
        in the dictionary will each contain a CDA column name; each corresponding value will itself be a
        dictionary enumerating all the specific values appearing in the result rows for the CDA column
        named in the key. Each value in that (sub-)dictionary will represent the total number of times
        that its corresponding key appears in the result rows.

        And yes, we know how that paragraph looks. We apologize to the entire English language.

There are many useful error messages awaiting you on your journey!

In [22]:
fetch_rows( table= "subject", match_all='primary_disease_site = kid*ey' )

fetch_rows(): ERROR: match_all: requested column 'primary_disease_site' is not a searchable CDA column.

In [23]:
fetch_rows( table= "subject", match_all='primary_diagnosis_site = kid*ey' )

fetch_rows(): ERROR: match_all: wildcards (*) are only allowed at the ends of string values; string 'kid*ey' is noncompliant (it has one in the middle). Please fix.

You can ask about missing values if you like!

In [24]:
fetch_rows( table= "subject", match_all=[ 'sex = NULL', 'ethnicity != NULL' ] )

,subject_id,cause_of_death,days_to_birth,days_to_death,ethnicity,race,sex,species,vital_status
0,cmb_crc.CMB-CRC-MSB-02381,,<NA>,<NA>,Non-Hispanic,,,Homo sapiens,
1,cmb_crc.CMB-CRC-MSB-03032,,<NA>,<NA>,1,,,Homo sapiens,
2,cmb_gec.CMB-GEC-MSB-06857,,<NA>,<NA>,Non-Hispanic [9],,,Homo sapiens,
3,cmb_lca.CMB-LCA-MSB-05837,,<NA>,<NA>,Non-Hispanic [9],,,Homo sapiens,
4,cmb_lca.CMB-LCA-MSB-09117,,<NA>,<NA>,Non-Hispanic [9],,,Homo sapiens,
5,cmb_lca.CMB-LCA-MSB-09977,,<NA>,<NA>,Non-Hispanic [9],,,Homo sapiens,
6,cmb_mel.CMB-MEL-MSB-05412,,<NA>,<NA>,W,,,Homo sapiens,
7,cmb_mel.CMB-MEL-MSB-07612,,<NA>,<NA>,Not Hispanic Lat,,,Homo sapiens,
8,cmb_mel.CMB-MEL-MSB-09286,,<NA>,<NA>,W,,,Homo sapiens,
9,cmb_pca.CMB-PCA-MSB-07483,,<NA>,<NA>,Non-Hispanic [9],,,Homo sapiens,

You can filter by data source!

In [25]:
fetch_rows( table= "subject", data_source=[ 'GDC', 'PDC', 'IDC' ] )

,subject_id,cause_of_death,days_to_birth,days_to_death,ethnicity,race,sex,species,vital_status
0,CPTAC.01BR001,,<NA>,<NA>,not hispanic or latino,black or african american,female,Homo sapiens,Not Reported
1,CPTAC.01BR008,,<NA>,<NA>,not reported,black or african american,not reported,Homo sapiens,Not Reported
2,CPTAC.01BR009,,<NA>,<NA>,not reported,black or african american,not reported,Homo sapiens,Not Reported
3,CPTAC.01BR010,,<NA>,<NA>,not reported,black or african american,not reported,Homo sapiens,Not Reported
4,CPTAC.01BR015,,<NA>,<NA>,not hispanic or latino,white,female,Homo sapiens,Not Reported
...,...,...,...,...,...,...,...,...,...
1677,TCGA.TCGA-E2-A150,,-17580,<NA>,not hispanic or latino,white,female,Homo sapiens,Alive
1678,TCGA.TCGA-E2-A154,,-24999,<NA>,not hispanic or latino,white,female,Homo sapiens,Alive
1679,TCGA.TCGA-E2-A158,,-15903,<NA>,not hispanic or latino,white,female,Homo sapiens,Alive
1680,TCGA.TCGA-E2-A159,,-18621,<NA>,not hispanic or latino,white,female,Homo sapiens,Alive
1681,TCGA.TCGA-E2-A15A,,-16750,<NA>,not hispanic or latino,white,female,Homo sapiens,Alive

You can join columns from other tables!

In [26]:
fetch_rows( table= "subject", match_all=[ 'subject_id = TCGA*', 'sex = f*', 'hugo_symbol != NULL', 'days_to_death != NULL' ], data_source=[ 'GDC', 'PDC', 'IDC' ], add_columns=[ 'hugo_symbol', 'hotspot' ] )

,subject_id,cause_of_death,days_to_birth,days_to_death,ethnicity,race,sex,species,vital_status,hugo_symbol,hotspot
0,TCGA.TCGA-09-1664,,-13739,2279,not hispanic or latino,white,female,Homo sapiens,Dead,C11orf42,False
1,TCGA.TCGA-09-1664,,-13739,2279,not hispanic or latino,white,female,Homo sapiens,Dead,COL4A4,False
2,TCGA.TCGA-09-1664,,-13739,2279,not hispanic or latino,white,female,Homo sapiens,Dead,DLGAP3,False
3,TCGA.TCGA-09-1664,,-13739,2279,not hispanic or latino,white,female,Homo sapiens,Dead,DMD,False
4,TCGA.TCGA-09-1664,,-13739,2279,not hispanic or latino,white,female,Homo sapiens,Dead,DOK5,False
...,...,...,...,...,...,...,...,...,...,...,...
10587,TCGA.TCGA-C8-A12Q,,-28733,385,not hispanic or latino,asian,female,Homo sapiens,Dead,ZNF280B,False
10588,TCGA.TCGA-C8-A12Q,,-28733,385,not hispanic or latino,asian,female,Homo sapiens,Dead,ZNF611,False
10589,TCGA.TCGA-C8-A12Q,,-28733,385,not hispanic or latino,asian,female,Homo sapiens,Dead,ZNF700,False
10590,TCGA.TCGA-C8-A12Q,,-28733,385,not hispanic or latino,asian,female,Homo sapiens,Dead,ZNF85,False
10591,TCGA.TCGA-C8-A12Q,,-28733,385,not hispanic or latino,asian,female,Homo sapiens,Dead,ZPLD1,False

You can join entire other tables!

In [27]:
fetch_rows( table= "subject", match_all=[ 'subject_id = TCGA*', 'sex = f*', 'hugo_symbol != NULL', 'days_to_death != NULL' ], data_source=[ 'GDC', 'PDC', 'IDC' ], link_to_table='researchsubject' )

,subject_id,cause_of_death,days_to_birth,days_to_death,ethnicity,race,sex,species,vital_status,researchsubject_id,member_of_research_project,primary_diagnosis_condition,primary_diagnosis_site
0,TCGA.TCGA-09-1664,,-13739,2279,not hispanic or latino,white,female,Homo sapiens,Dead,PDC000112.TCGA-09-1664,PDC000112,Ovarian Serous Cystadenocarcinoma,Ovary
1,TCGA.TCGA-09-1664,,-13739,2279,not hispanic or latino,white,female,Homo sapiens,Dead,PDC000113.TCGA-09-1664,PDC000113,Ovarian Serous Cystadenocarcinoma,Ovary
2,TCGA.TCGA-09-1664,,-13739,2279,not hispanic or latino,white,female,Homo sapiens,Dead,PDC000114.TCGA-09-1664,PDC000114,Ovarian Serous Cystadenocarcinoma,Ovary
3,TCGA.TCGA-09-1664,,-13739,2279,not hispanic or latino,white,female,Homo sapiens,Dead,TCGA-OV.TCGA-09-1664,TCGA-OV,"Cystic, Mucinous and Serous Neoplasms",Ovary
4,TCGA.TCGA-09-1664,,-13739,2279,not hispanic or latino,white,female,Homo sapiens,Dead,tcga_ov.TCGA-09-1664.RS,tcga_ov,Ovarian Serous Cystadenocarcinoma,Ovary
...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,TCGA.TCGA-BH-A18V,,-17682,1556,not hispanic or latino,white,female,Homo sapiens,Dead,tcga_brca.TCGA-BH-A18V.RS,tcga_brca,Breast Cancer,Breast
437,TCGA.TCGA-C8-A12Q,,-28733,385,not hispanic or latino,asian,female,Homo sapiens,Dead,PDC000173.TCGA-C8-A12Q,PDC000173,Breast Invasive Carcinoma,Breast
438,TCGA.TCGA-C8-A12Q,,-28733,385,not hispanic or latino,asian,female,Homo sapiens,Dead,PDC000174.TCGA-C8-A12Q,PDC000174,Breast Invasive Carcinoma,Breast
439,TCGA.TCGA-C8-A12Q,,-28733,385,not hispanic or latino,asian,female,Homo sapiens,Dead,TCGA-BRCA.TCGA-C8-A12Q,TCGA-BRCA,Ductal and Lobular Neoplasms,Breast
440,TCGA.TCGA-C8-A12Q,,-28733,385,not hispanic or latino,asian,female,Homo sapiens,Dead,tcga_brca.TCGA-C8-A12Q.RS,tcga_brca,Breast Cancer,Breast

You can get value-count summaries for things, optionally based on matches to custom filters:

In [28]:
summary_counts( table='subject', match_all='subject_id = CPTAC.01BR*' )

{'total_subject_matches': 20,
 'total_related_files': 3638,
 'subject_identifier_system': {'GDC': 20, 'IDC': 19, 'PDC': 20},
 'sex': {'female': 14, 'not reported': 6},
 'race': {'black or african american': 11, 'not reported': 1, 'white': 8},
 'ethnicity': {'not hispanic or latino': 12, 'not reported': 8},
 'cause_of_death': {None: 20}}

In [29]:
summary_counts( table='diagnosis', match_all='primary_diagnosis = Adeno*' )

{'total_diagnosis_matches': 25227,
 'diagnosis_identifier_system': {'CDS': 135, 'GDC': 23962, 'PDC': 1130},
 'primary_diagnosis': {'Adenocarcinoma': 303,
  'Adenocarcinoma, diffuse type': 291,
  'Adenocarcinoma, endocervical type': 21,
  'Adenocarcinoma in situ, NOS': 19,
  'Adenocarcinoma, intestinal type': 118,
  'Adenocarcinoma in tubolovillous adenoma': 8,
  'Adenocarcinoma, metastatic, NOS': 123,
  'Adenocarcinoma, NOS': 23652,
  'Adenocarcinoma of anal glands': 5,
  'Adenocarcinoma with mixed subtypes': 134,
  'Adenocarcinoma with neuroendocrine differentiation': 1,
  'Adenoid cystic carcinoma': 392,
  'Adenomyoepithelioma': 1,
  'Adenosarcoma': 15,
  'Adenosquamous carcinoma': 144},
 'stage': {'IA': 78,
  'IB': 59,
  'IIA': 8,
  'IIB': 2,
  'IIIA': 14,
  'IIIB': 1,
  'IV': 5,
  'Stage1': 28,
  'Stage I': 14,
  'Stage II': 21,
  'Stage IIA': 128,
  'Stage IIB': 13,
  'Stage III': 8,
  'Stage IIIA': 13,
  'Stage IIIB': 97,
  'Stage IIIC': 34,
  'Stage IV': 13,
  'Stage IVA': 21,
  None: 24670},
 'grade': {'G1': 55,
  'G2': 419,
  'G3': 256,
  'G4': 1,
  'GB': 6,
  'GX': 39,
  'High Grade': 1,
  'Not Applicable': 8,
  'not reported': 1893,
  'Not Reported': 21472,
  'Unknown': 59,
  None: 1018}}

You can also count things based on filters applied to related tables:

In [30]:
summary_counts( table='diagnosis', match_all='subject_id = CPTAC.01BR*' )

{'total_diagnosis_matches': 80,
 'diagnosis_identifier_system': {'GDC': 20, 'PDC': 60},
 'primary_diagnosis': {'Adenocarcinoma, NOS': 4,
  'Infiltrating duct carcinoma, NOS': 44,
  'Infiltrating lobular carcinoma, NOS': 4,
  'Not Reported': 6,
  'Squamous cell carcinoma, NOS': 4,
  None: 18},
 'stage': {'Stage II': 6,
  'Stage IIA': 3,
  'Stage IIB': 9,
  'Stage III': 12,
  'Stage IIIA': 9,
  'Stage IIIB': 3,
  None: 38},
 'grade': {'Not Reported': 20, None: 60}}

This particular bit doesn't work and has been humorously disabled!

In [31]:
summary_counts( table='somatic_mutation', match_all=[ 'hugo_symbol = DOK5' ] )

summary_counts(): ERROR_WITH_APOLOGIES: summary counts for somatic_mutation are not available at present. Please select any of our other fine tables.