In [1]:
from cdapython.data_exploration import tables, columns, column_values, column_data_types
from cdapython.fetch import fetch_rows
from cdapython.query import summary_counts

In [5]:
summary_counts( table='subject', match_all=[ 'sex = ""' ] )

{'total_subject_matches': 28636,
 'total_related_files': 23308180,
 'subject_identifier_system': {'GDC': 609, 'IDC': 27834, 'PDC': 245},
 'sex': {None: 28636},
 'race': {None: 28636},
 'ethnicity': {'1': 1,
  'Non-Hispanic': 1,
  'Non-Hispanic [9]': 5,
  'Not Hispanic Lat': 1,
  'W': 2,
  None: 28626},
 'cause_of_death': {None: 28636}}

In [4]:
column_values( 'sex', filters= '')

             sex  count
0         female  46733
1           male  41384
2                 28636
3              F  17013
4           Male  16450
5              M   6518
6         Female   3531
7   not reported    106
8        unknown     63
9    Unspecified      4
10       Unknown      3
11   unspecified      1